html, body {
	height: 100%;
	background-color: azure;
}

body {
	display: grid;
	grid-template-areas:
	"header header header header header"
	"profile formacao formacao formacao formacao"
	"profile formacao formacao formacao formacao"
	"profile info info info info"
	"profile info info info info"
	"profile links links links links"
	;
}

header {
	grid-area: header;
	min-width: 100vw;
	height: 82px;
	column-gap: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	margin-bottom: 10px;
}

.container {
	padding: 20px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
  }

  .change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
  }

.container:hover {
  background-color: #C78C19;
  text-decoration: underline;
}
.cabecalho__menu {
	background-color: #000000;
	font-size: 24px;
	content: "Menu";
}

.logotipo_header {
	align-self: center;
	justify-self: right;
	width: 250px;
	padding-right: 6px;
}

.menu-lateral {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-color: #15191C;
	opacity: 90%;
	width: 100vw;
	height: 100vh;

	position: absolute;
	right: +100vw;
	transition: .25s;
}

.menu-lateral--ativo {
	left: 0;
	transition: .25s;
	z-index: 98;
}

.menu-lateral__logo {
	width: 300px;
	align-self: center;
	padding: 16px;
	padding-bottom: 10%;
}

.menu-lateral__link {
	height: 64px;
	color: #95999C;
	padding-left: 64px;
	display: flex;
	align-items: center;
}

.menu-lateral__link--ativo {
	color: #FFFFFF;
	padding-left: 56px;
	border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before {
	content: "\e900";
	width: 24px;
	height: 24px;
	font-size: 24px;
	position: absolute;
	left: 24px;
}

.menu-lateral a {
	padding: 10px 30px;
	align-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	align-self: center;
	color: azure;
}

nav a {
	margin: 0 0 0 3vw;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	color: #00ffaa;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

/*div {
	padding-top: 50px;
	padding-right: 80px;
	padding-bottom: 50px;
	padding-left: 80px;
}*/

.profile {
	grid-area: profile;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.350);
	border-radius: 10px;
	margin: 0% 5%;
}

#profile_photo {
	justify-self: flex-start;
	/*margin-left: auto;
	margin-right: auto;
	padding-bottom: 10%;*/
	margin-top: 10%;
	object-fit: cover;
	border-radius: 50%;
	height: 100px;
	width: 100px;

}

.profile .nome {
	width: 80%;
	padding: 10% 0;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profile .resumo {
	width: 80%;
	padding-bottom: 10%;
	text-align: center;
}

.resumo b{
	font-weight: 700;
	font-family: Calibri;
}

.titulo_secao {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 5%;
}

.formacao {
	grid-area: formacao;
	padding: 30px 30px;
	margin-right: 10%;
	display: grid;
	grid-template-areas:
	"formaçao1"
	"formaçao2"
	"formaçao3"
	"formaçao4"
	;
	justify-content: left;
	background-color: beige;
	border-radius: 10px;
}

.experiencia1 {
	grid-area: formacao1;
}

.experiencia2 {
	grid-area: formacao2;
}

.experiencia3 {
	grid-area: formacao3;
}

.experiencia4 {
	grid-area: formacao4;
}

.experiencia {
	padding-bottom: 20px;
	display: grid;
	grid-template-areas:
	"logo nome_escola"
	"logo curso"
	"logo periodo"
	"logo conteudo_formacao"
	;
	justify-content: left
}

.logotipo_escola {
	grid-area: logo;
	padding-right: 20px;
	width: 75px;
}

.nome_escola {
	grid-area: nome_escola;
	font-size: 1.4rem;
	font-weight: 700;
	padding-bottom: 10px;
	width: 100%;
}

.curso {
	grid-area: curso;
	font-size: 1.1rem;
	font-weight: 700;
	width: 100%;
}

.periodo {
	padding-top: 3px;
	padding-bottom: 10px;
}

.conteudo_formacao {
	grid-area: conteudo_formacao;
	padding-top: 3px;
	padding-bottom: 10px;
}




.links {
	grid-area: links;
	margin-top: 5%;
	margin-right: 10%;
}

.titulo_redes {
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 700;
}

.redes_sociais {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

h3, dd {
	text-align: justify;
	text-justify: distribute;
}

@media screen and (max-width: 1220px)
{
	body {
		grid-template-areas:
	"header"
	"profile"
	"formacao"
	"info"
	"links"
	;
	align-items: center;
	justify-content: center;
	}

	.profile {
		justify-self: center;
	}

	.formacao{
		margin-right: 0;
		margin: 0% 10%;
		margin-top: 5%;
		justify-self: center;
	}

	.redes_sociais {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding-bottom: 10%;
	}

	dd {
		padding-left: 20%;
	}
}
